
body{
  font-family: 'Orbitron', sans-serif;
  background-image: url(image/darksun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #281d1a;
}
.exercise{
  background-color: white;
  background-image: none;
}
img{
  max-width: 100%;
}
ul{
  list-style-type: none;
}
h1{
  margin-left: 50px;
  color: orangered;
  font-size: 70px
}
li{
  margin-left: 12px;
  color: darkorange;
  font-size: 20px;
}
a{
  text-decoration: none;
}
a:link{
  color: gold;
}
a:visited{
  color: gold;
}
a:hover{
  color: white;
}
