* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
header {
  float: left;
  margin-left: 25px;
}
nav {
  float: right;
  margin-top: 40px;
}
main {
  display: flow-root;
}
/* footer {
  padding: 0;
} */
.footerimg {
  background: url(../images/cairo10.jpg) no-repeat center bottom;
  background-size: cover;
  display: flow-root;
  background-color: #bbbbbb;
  background-blend-mode: multiply;
  /* opacity: 69%; */
}
.blackbg {
  background-color: black;
}
footer p {
  text-align: center;
  padding: 0;
  color: white;
  font-size: 50px;
  font-style: italic;
  float: center;
  /* opacity: 100%; */
}
.botright {
  margin: -300px 80px 25px 66%;
  text-align: center;
}
.botright p {
  color: white;
  font-size: 18px;
  float: right;
}
p {
  color: black;
}
h1 {
  font-size: 120px;
  color: white;
  margin: 0;
}
ul {
  padding: 0;
  color: white;
  list-style-type: none;
}
li {
  float: left;
  margin-left: 25px;
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: white;
}
a:hover {
  color: white;
  text-decoration: underline;
}
 h1 a:hover{
  color: white;
  text-decoration: none;
}
.bgimg {
  background: url(../images/cairo8.jpg) no-repeat center center;
  background-size: cover;
  display: flow-root;
  padding: 25px 25px 800px;
}
.camelimg {
  background: url(../images/cairo5.jpg) no-repeat center center;
  background-size: cover;
  display: flow-root;
  padding: 25px 25px 650px;
}
.onpage {
  color: white;
  text-decoration: overline;
}
.columns {
  display: flow-root;
  width: 80vw;
  margin: 20px auto;
}
.col {
  width: 50%;
  float: left;
  display: flow-root;
  padding: 20px;
}
.b-col {
  background: url(../images/cairo13.jpg) no-repeat bottom center;
  background-size: cover;
  display: flow-root;
  height: 500px;
}
.col img {
  width: 100%;
  float: left;
}
.col p {
  /* padding: 20px;
  margin: 15px 100px 0; */
}
h2 {
  padding: 0 20px;
  font-size: 50px;
  margin: 0;
  text-align: center;
  color: #990000;
}
@media only screen and (max-width: 1000px){
  .botright {
    margin: 0;
    float: left;
    padding: 20px 25px;
  }
  .botright p {
    color: black;
  }
  .col {
    width: 100%;
  }
  .col p {
    padding: 20px;
    margin: 15px 0 0;
  }
  .col img {
    margin: 0;
  }
  .footerimg {
    width: 100%;
  }
  footer p {
    margin: 0;
    padding: 0;
    font-size: 25px;
    width: 90%;
  }
  footer {
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 810px){
  nav {
    margin-top: 0;
  }
  .columns {
    width: 100%;
  }
  .footerimg {
    width: 100%;
  }
  footer p {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  footer {
    padding: 0;
    margin: 0;
  }
}
