* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0 auto;
  background-image: url(../images/cairo8.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
h1 {
  font-size: 150px;
  color: white;
}
ul {
  color: white;
}
li {
/* do i want the homepage to float left? or stack buttons like in my designs? */
}
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: black;
  opacity: 66%;
}
/* how do i do a top bar menu that turns into 3 mobile buttons?
 i really didn't think my designs through, huh */
 /* turns out we're not doing hamburger buttons, so problem solved? */
img {
  max-width: 100%;
}
.cairo {
  width: 33%;
  float: left;
}
main {
  width: 33%;
  float: left;
  display: flow-root;
  margin: 350px 10px 50px 1200px;
}
@media screen and (max-width: 900px){
  .col{
    width: 100%;
  }
  h1 {
    font-size: 60px;
  }
}
.aboutpage {

}
